/* Users.module.css */
.userList {
  display: grid;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: #181818;

  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень для выделения блока */
}

/* Пример стилей для красивой таблицы */

.tableHeader {
  background-color: #f2f2f2; /* Нежно-серый фон */
  color: #a4a6b0; /* Темно-серый текст */
  text-align: left; /* Выравнивание текста по левому краю */
  padding: 1.5rem; /* Добавляет внутренние отступы */
}

.table {
  width: 100%; /* Занимает всю ширину родительского элемента */
  border-collapse: separate; /* Отдельные границы для ячеек */
  border-spacing: 0; /* Отступы между ячейками */

  font-size: 14px;
}

.table thead th {
  background-color: #f2f2f2; /* Фон заголовков */
  color: #333; /* Цвет текста заголовков */
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border-bottom: 3px solid #ddd; /* Граница под заголовками */
  border-top: 3px solid #ddd;
}

.table tbody td {
  background-color: #fff; /* Фон ячеек */
  color: #333; /* Цвет текста ячеек */
  padding: 10px;
  border-bottom: 1px solid #ddd; /* Граница между строками */
}

.table tbody tr:nth-child(even) td {
  background-color: #f9f9f9; /* Фон четных строк */
}

.table tbody td:first-child {
  border-left: none; /* Убираем левую границу для первой ячейки */
}

.table tbody td:last-child {
  border-right: none; /* Убираем правую границу для последней ячейки */
}

.table tbody tr:last-child td {
  border-bottom: none; /* Убираем нижнюю границу для последней строки */
}

.table-hover tbody tr:hover td {
  background-color: #f1f1f1; /* Фон при наведении на строку */
}
